deployer
roles
sites.yml
lambda_*.yml
tmp/*
*.zip
lambdas/
packer.log
org-policies/files/*
!org-policies/files/DIRECTORY_RETAINER
org-stacksets/files/*
!org-stacksets/files/DO_NOT_DELETE_THIS_FILE
.venv
.vscode
sceptre/generated-config/*
!sceptre/generated-config/DO_NOT_DELETE
sceptre/values/*
!sceptre/values/DO_NOT_DELETE
sceptre/templates/*
!sceptre/templates/DO_NOT_DELETE
!sceptre/templates/custom*
sceptre/config/cwalarm/*
!sceptre/config/cwalarm/DO_NOT_DELETE
terraform/tffiles/.terraform/*
backendcredentials
deployercredentials
terraform/tffiles/tfplan
!terraform/tfbuild/DO_NOT_DELETE
terraform/tfbuild/*
*__pycache__
#sceptre/helper-scripts/__pycache__